.im_secprt{
    width: 400px;
  float: right;
} 
.bord_sol{
  border: 1px solid #000;
}
.servic{
  margin-top: 20px;
  /* margin-bottom: 20px; */
  text-align: center;
  font-size: 18px;
}
.servic p{
    color: #56DF54;
    font-size: 16px;
  font-weight: 400;
  line-height: 31px;

}
.prace_prod{
    margin-top: 15px;
    padding-top: 12px;
  height: 50px;
  border: 3px solid #000;
  width: 200px;
  color: #000;
  padding-left: 15px;
}
.servic h3{
  margin-bottom: 15px;
}
.left_block h2{
    margin-top: 20px;
}
.left_block h3{
    margin-top: 20px;
}
.avant{
  padding-left: 20px;
}
.avant li{
  margin-bottom: 15px;
}
.pose{
  padding-left: 20px;
}
.prest{
  margin-top: 30px;
}
.left_block p{
  color: #000;
  font-size: 15px;
}
.main_text{
  font-size: 30px;
  color: #000;
  margin-bottom: 30px;
}
.product{
  width: 100%;
  border: 1px solid #000;
}
.fn_li{
  margin-top: 20px;
  margin-bottom: 20px;
}