/*
Created "19/02/2015" by "Serhii Koziy" 
Modified "19/02/2015" by "Serhii Koziy"
*/

.news-block {
  height:auto;
  margin-bottom:40px;
  padding-left:0 !important;
}
.news-image{
  width:100%;
  height:auto;
   padding-right:10px;
}
.in{
  padding-right: 0px !important;

}
.news-block h2 {
  margin-top: 10px;
  font-family: 'Roboto Slab';
  font-size:20px;
  color:#006bb7;
  line-height: 20px;

}
.news-block p {
 font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
 font-size:14px;
 color:#999999;
}
.news-block a {
  font-size:14px;
 font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
}
.more i {
  margin-left:5px;
}
.more a {

}

.featured {
  margin-left:-30px !important;
}

.featured-art-col {
  margin-left:0px !important;
}

.featured-item {
 border:1px solid #efefef;
  margin-bottom:15px;
  padding-left:0px !important;
  padding-right: 0px !important;
  padding-top:10px;
  padding-bottom: 10px;
}
.cloud {
  border:0px solid #efefef !important;
}
h2 {
  font-weight: 400 !important;
   font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
}
.featured-item h2 {
  font-family: 'Roboto Slab';
  font-size:20px;
  color:#222222;
  line-height: 20px;

}
.featured-item p {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
 font-size:14px;
 color:#999999;

}
.featured-item a {
 /* font-size:14px;*/
    font-family: "Arial Narrow", Arial, sans-serif;
  font-stretch: ultra-condensed;
}
.featured-img {

}
.featured-img img {
  margin-top:20px;
  float:right;
}

.tparrows:before{
  margin-top:6px  !important;
}
.spectaculus{
  z-index: 10;
}
.social {
  margin-right: 0px !important;
  margin-left: -5px !important;
}
.social p{
  margin-right: -14px;
padding-left: 5px;
line-height: 35px;
font-size: 14px;
font-weight: 700;
font-family: 'Roboto Slab';
color: #222222;
margin-left: 14px;
}
.social-icons {

  float:left;
  list-style:none;
  display:inline-block;
}
@media (max-width: 768px) {
  .social-icons {

  }

}
.social-icons li{
  padding:0 1px;
  float:left;
}

.calc {
}
.calc p{
  padding-left: 25px !important;
  padding-right: 0px !important; 
  text-align:left;
  font-weight: 400;
  line-height: 20px;
  font-size:18px;
  text-transform: uppercase;
  font-family:'Roboto Slab';
  color: #222222;
}
.calc img {
  padding:5px 0;
}


/* Style Article */
.list-article {
  margin-top:20px;
  margin-bottom: 10px !important;
}
.list-article p {
  text-align:justify;
}
.list-article-image {
  float:right;
  margin-left:25px;
}
.intext-nav {
  list-style:none;

}
.intext-nav li {
text-align: justify;
display: inline-block;
float: left;
height: auto;
padding: 5px 10px;
margin: 0px 5px 5px;
}
.intext-nav li > a {
color:#444444;
text-align:left;
font-weight: normal;
padding: 5px;
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
}
@media (max-width: 1200px) and (min-width: 1000px) {

    .intext-nav li > a {
       font-size: 16px; 
    }
 }
 @media (max-width: 1000px) and (min-width: 200px) {
  .intext-nav li {
    padding: 5px 4px;
    margin: 0px 0px 5px;
  }
    .intext-nav li > a { 
      font-size: 10px !important;
    }
 }
.intext-nav li:hover, .intext-nav li.active {
  background-color: #006bb7; 
}
.intext-nav li:hover > a, .intext-nav li.active > a {
  color:#fff;
}