/*
Created "19/02/2015" by "Serhii Koziy" 
Modified "19/02/2015" by "Serhii Koziy"
*/

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


/* tagclaud */
@font-face {
  font-family: 'RageItalic';
  src: url('../fonts/RageItalic.eot');
  src: local('RageItalic'), url('../fonts/RageItalic.woff') format('woff'), url('../fonts/RageItalic.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_17763">Text with this font applied</p> */
.fontsforweb_fontid_17763 {
  font-family: 'RageItalic' !important;
}

@media (min-width:1100px){
  .nopad-lg {
    padding:0 !important;
  }
}

body {
  font-family: 'Roboto Slab', serif !important;
}

img {
  max-width: 100%;
  height: auto;
}
.obl h3{
  float: right;
}
a,
a:link,
a:visited {
  text-decoration: none !important;
}
.par p{
  font-size: 13px !important;
}

.im{
  padding-right: 9px !important;
}
.in{
  padding-right: 0px !important;

}
a:hover,
a:active {
  color: #2966a7;
  text-decoration: none !important;
}
.area{
  width: 100%;
}
/*input{
  border: none !important;
  background: #E6E6E6 !important;
  height: 50px !important;
}*/
.inp_br{
    border: none !important;
  background: #E6E6E6 !important;
  height: 50px !important;
  padding: 7px;
}
.bot_contact a{
    width: 100px;
    color: #FFF;
    font-family: 'Roboto Slab', serif !important;
    line-height: 29px;
    font-size:20px;
    padding-left: 18px;
    display: block;
    background-color: #006bb7 !important;
    font-size: 20px;
    margin-bottom: 20px;
}
.bot_contact a:hover{
  color: #FFF
}
.bot_env{
  float: left;
  width: 150px !important;
}
.obl h3{
  padding-top: 10px;

}
.bot_env a{
  margin-top: 10px;
    width: 120px;
    color: #FFF !important;
    font-family: 'Roboto Slab', serif !important;
    line-height: 29px;
    font-size:20px;
    padding-left: 18px;
    display: block;
    background-color: #006bb7 !important;
    font-size: 18px;
    margin-bottom: 20px;
}
.bot_env a:hover{
  color: #FFF
}
.map{
  margin-bottom: 30px;
  margin-top: 30px;
}
.central_forms{
  margin: 0 auto !important;
  text-align: center !important;
}
.last_forms{
float: right;
}
.form{
  margin-bottom: 20px;
}
.form_area{
  margin-bottom: 20px;
  margin-top: 30px;
}
@media (min-width: 300px) and (max-width: 768px){
    .form_con{
      text-align: center !important;
      float: none !important;
    }
}
.pad0 {
  padding-right: 0px !important;
}
.padcont {
  padding-left:0px !important;
  padding-right: 0px !important;
}

.padright {
   padding-right: 0px !important;
}
.padleft {
  padding-left:0px !important;
}
.marg0{
  margin:0 !important;
}
.container {
  margin-top:15px;
}

.header {
  margin-top:0px;
}
.logo_title {
  float: left;
  vertical-align: top;
  margin-top: 4.25rem;
  /*margin:60px 0;*/
}

.logo {
  width: 144px;
  height: 126px;
  margin: 15px 0;
  vertical-align: top;
/* background: no-repeat; */
  /*background: no-repeat;*/
  /* This line scales the logo with base font size if necessary */
}

@media (min-width: 1200px) {
.header {
  margin-top:20px;
}
  }

.tags ul li a{
    font-family: 'RageItalic' !important;
}
@media (max-width: 768px){
  .container {
  margin-top:0px;
  padding-right:0px !important;
  padding-left:0px !important;
}
  }
.top_menu li{
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .logo_title {
  float: left;
  vertical-align: top;
  margin-top: 2.5rem;
  margin:50px 0 !important;
} 

.logo {
  width: 144px;
  height: 126px;
  margin: auto !important;
  vertical-align: top;
/* background: no-repeat; */
  /*background: no-repeat;*/
  /* This line scales the logo with base font size if necessary */
}
  ul.top-navmenu {
    margin-bottom:10px !important;
  }
  .hand {
    margin-top:10px !important;
  }
  }

@media (min-width: 768px) {
.search-box_md{
      display: none !important;
      display: inherit;
    }
    .top_menu_md{
      display: none !important;
    }
    .hand_md{
      display: none;
    }
}


@media (max-width: 440px){
  .search {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 100%;
    height: 31px !important;
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Myriad Pro Regular';
    font-size: 12px !important;
    font-weight: 100;
    }
  .logo_title2{
    width: 100% !important;
      margin-bottom: 10px;
  }
  .logo_title2 a img{
      margin-top: 10px;
     
    }
  .logo_title_lg{
    display: none !important;
    background: none !important;
  }
  .logo_title_md{
    width: 100%;
  }
}
@media (min-width: 440px){
  .logo_title_md{
    display: none !important;
  }
}

/*@media (min-width: 310px) and (max-width: 360px){
      .center{
      margin-right: 9% !important;
    margin-left: 10% !important;
  }
    }
@media (min-width: 330px) and (max-width: 490px){
  .center{
      margin-right:10% !important;
      margin-left: 15% !important;
    }
}*/
@media (min-width: 560px) and (max-width: 768px){
  .logo_title a img{
      margin: 0 auto;
      margin-left: 20%;
    }/*
  .center{
      margin-right:20% !important;
      margin-left: 29% !important;
    }*/
}
@media (min-width: 440px) and (max-width: 560px){

  .logo_title a img{
      margin: 0 auto;
      margin-left: 9% !important;
    }
    /*.center{
      margin-right:20% !important;
      margin-left: 26% !important;
    }*/
}
@media (min-width: 670px) and (max-width: 768px){
  .logo_title a img{
      margin: 0 auto;
      margin-left: 20%;
    }
}

@media (max-width: 768px){

  .spectaculus{
    margin-bottom: 0px !important;
  }
    .logo {
  /*background-image: url(../images/logo.png);*/
  width: 144px;
  padding-top: 9px;
  height: 126px;
  margin-right: 0em;
  vertical-align: top;
/* background: no-repeat; */
  /*background: no-repeat;*/
  /* This line scales the logo with base font size if necessary */
}
      .search {
      
      background-size: 32% !important;
      
      }
    .bord{
      border-top: solid 1px #ddd;
    }
    .search-box{
      border: 1px solid #ebebeb;
      border-radius: 3px;
      width: 32% !important;
      float: right;
      margin-top: 5px;
    }
    .hand_md{
      position: absolute;
      right: 0%;
      top:0%;
    }
    .hand p {
      padding: 10px 0 !important;
      font-size: 14px !important;
      
      height: 30px;
      }
      .hand p {
        line-height: 14px !important;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 23px;
      /* line-height: 30px; */
      /* letter-spacing: 1px; */
      color: #fff;
      text-transform: uppercase;
      float: right;
      margin-right: 29px !important;
      margin-left: 5px !important;
      }
      
      
      .hand {
      height: 63px !important;
      background-size: 42% !important;
      }
    .top-navmenu2 li:first-of-type{
      float: left;
    }
    .top-navmenu2 li:last-of-type{
     
      float: right;
    }

    .top-navmenu2 {
    list-style-type: none;
    text-align: justify;
    height: 21px;
    /*background: #ccc*/
    }

    .top-navmenu2 li {
        display: inline
    }

    .top-navmenu2 li a {
        text-align: left;
        display:inline-block;
    }

    
   
    .top-navmenu2 li{
        list-style-type: none;
        text-align: center;
        float: left;
        width: 33%; /*if 2 <li> elements, 25% if 4...*/
    }
    .logo {
      margin: 0 auto;
    }
    .logo_text{
      margin: 0 auto ;
    }
    .logo_title_md{
      border-top: solid 1px #ddd;
    }
    .logo_title{
      float: none !important;
      margin-top: 2rem;
      margin: 0 auto !important;
    }
     .search-box_md{
      position: relative;
      display: inherit;
    }
    .top_menu_lg{
      display: none !important;
    }
    .search-box_lg{
      display: none !important;
    }
    .logo_title{
      margin-top: 5px;
      /*border-top: solid 1px #ddd;*/
    }
    .logo_title a img{
      
      width: 60%;
      margin: 0 auto;
      margin-left: 20% !important;
      margin-right: 20% !important;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .hand_lg{
      display: none;
    }
    
    
    ul.top-navmenu li {
      padding-right: 13% !important;
    }
    
}
@media (min-width: 768px) and (max-width: 950px){
     .hand p {
      padding: 12px 0 !important;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 23px;
      /* line-height: 30px; */
      /* letter-spacing: 1px; */
      color: #fff;
      text-transform: uppercase;
      float: right;
      margin-right: 50px !important;
      }
    }
@media (min-width: 950px) and (max-width: 1000px){
  .hand p {
     
      float: right;
      margin-right: 50px !important;
      }
}
@media (min-width: 1000px) and (max-width: 1200px){
     .hand p {
      padding: 12px 0 !important;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 23px;
      /* line-height: 30px; */
      /* letter-spacing: 1px; */
      color: #fff;
      text-transform: uppercase;
      float: right;
      margin-right: 110px !important;
      }
    }
@media (min-width: 768px) and (max-width: 1200px){
  
      
    ul.top-navmenu li a{
      font-size: 14px !important;
    }
    .search{
      height: 30px !important;
      background-size: 15% !important;
      font-size: 21px !important;
    }
    .hand{
      height: 30px !important;
      background-size: 15% !important;
    }
    .hand p{
      padding: 5px 0 !important;
      font-size: 14px !important;
      margin-left: 0px !important;
      height: 30px;
    }
    .featured{
  margin-left: 0px !important;
}
}
@media (min-width: 1200px){
    .hand p {
      padding: 12px 0 !important;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      font-size: 23px;
      /* line-height: 30px; */
      /* letter-spacing: 1px; */
      color: #fff;
      text-transform: uppercase;
      float: right;
      margin-right: 80px !important;
      }
  }
/* NAV MENU */
.top-navmenu a {
  text-decoration: none;
}

ul.top-navmenu {
  margin-top: 0.7rem;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  float: right;
  margin-bottom: 15px;
}

ul.top-navmenu:after {
  content: "";
  clear: both;
  display: block;
}

ul.top-navmenu li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  position: relative;
  padding-right:4%;
}
ul.top-navmenu li:last-of-type {
  padding-right:0px;
}

ul.top-navmenu li a {
  color: #444444;
  line-height: 1.5rem;
  font-size: 20px;
  display: inline-block;
}
ul.top-navmenu li a:hover {
  color:#006bb7;
}
.active-top-navmenu > a {
 color:#006bb7 !important; 
}
/* NAV MENU */

.top-navmenu2 a {
  text-decoration: none;
}

ul.top-navmenu2 {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  float: left;
  
}

ul.top-navmenu2:after {
  clear: both;
  display: block;
}

ul.top-navmenu2 li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  position: relative;
  /*margin:0 3%;*/
}
ul.top-navmenu2 li:first-of-type {
  text-align: left;
}

ul.top-navmenu2 li:last-of-type {
  text-align: right;
}

ul.top-navmenu2 li a {
  color: #444444;
  line-height: 1.5rem;
  font-size: 11px;
  display: inline-block;
}
ul.top-navmenu2 li a:hover {
  color:#1a60a5;
}

.search {
  border:1px solid #ebebeb;
  border-radius: 3px;
  width:100%;
  height:40px;
  background-image:url(../images/search_icon.png); 
  background-repeat: no-repeat;
  background-position: right;
    font-family: Arial, sans-serif;
font-size: 19px;
font-weight: 100;
  
}
*::-webkit-input-placeholder {
    color:#006bb7;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color:#006bb7;
}
*::-moz-placeholder {
    /* FF 19+ */
    color:#006bb7;
}
*:-ms-input-placeholder {
    /* IE 10+ */
   color:#006bb7;
}
input[placeholder] {
  padding:16px;
  color:#006bb7;

}
.search-box{
  padding-left:0;
}

.hand {
  margin-top: 11px;
  background: url(../images/hand.png) #ff0000 no-repeat;
  background-position: right;
  height:50px;
  border-radius: 3px;
}
.hand p{
padding: 9px 0;
font-family: 'PT Sans', sans-serif;
font-weight: 700;
font-size: 18px;
/* line-height: 30px; */
/* letter-spacing: 1px; */
color: #fff;
text-transform: uppercase;
float: right;
margin-right: 80px;
}

.main {

}
.footer {
  font-size:12px;
  font-weight:300;
  margin-top:5px;
}
.copy {
  text-align:left;
}
.contact {
  text-align:right;
}
@media (max-width: 992px) {
  .contact {
      text-align:center;
  }
    .copy {
      text-align:center;
  }
}
