@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
body{
   background-image: url(../images/fond.jpg);
}
/* tagclaud */
@font-face {
  font-family: 'RageItalic';
  src: url('../fonts/RageItalic.eot');
  src: local('RageItalic'), url('../fonts/RageItalic.woff') format('woff'), url('../fonts/RageItalic.ttf') format('truetype');
}

.pict_block{
  float: left;
 width: 237px;
  
}
.padleft{
	padding-right: 0px !important;
}
.pict_block img{
	width: 100%;
	border-radius: 8px 0px 0px 8px;
}
.padd_1_2{
	padding-right: 0px !important;	
}
.padd {
	padding-left: 0px !important;

}
.padd_2 {
	margin: 0 auto;
	  padding-left: 10px;
  padding-right: 10px;
}
.padd_3{
	padding-right: 0px !important;
	margin-bottom: 20px;
}
.sais-block_1{
	border: 1px solid #302683;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: #19B3E7;
	width: 100%;
	height: 102px;
	margin-bottom: 20px;
	
	padding-left:0px !important;
	border-radius: 8px;
}
.sais-block_2{
	border: 1px solid #302683;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: #19B3E7;
	  width: 100%;
	height: 102px;
	margin-bottom: 20px;
	
	padding-right:0px !important;
	border-radius: 8px;
}
.right_block{
	float: right;
  padding-left: 10px;
  width: 170px;
}
.news-text{
	  padding-bottom: 12px;
	  font-size: 19px;
  padding-top: 4px;
	color: #FFF;
	text-align: center;
}
.cat_blocks h3{
	margin-bottom: 10px;
	color: #00679E; 
}
.Dec{
	  margin: 0 auto;
	font-size: 12px;
  	padding-left: 7px;
	color: #FFF;
	  width: 80px;
  height: 20px;
	background: ;
	border: 1px solid #302683;
	border-radius: 7px;
	background: #00679E;
}
.Dec a{
	color: #FFF;
}
.Dec a:hover{
	color: #FFF;
}
.catalog_block{
	width: 100%;
	border-radius:8px;
}
.cat_top{
	font-size: 15px;
	  border-radius: 8px 8px 0px 0px;
	padding-top: 5px;
  padding-bottom: 5px;
  background: #00679E;
  text-align: center;
  color: #FFF;
}
.cat_down{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_1.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.cat_down_2{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_2.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.cat_down_3{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_3.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.cat_down_4{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_5.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.cat_down_5{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_5.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.cat_down_6{
	  border-radius: 0px 0px 8px 8px;
  height: 110px;
  background-image: url(../images/fotolia_6.jpg);
  width: 100%;
  background-size: 100%;
  background-position: 0px -33px;
}
.in_block{
	margin-left: 5px;
	line-height: 13px;
	  padding-top: 5px;
  background: #eee;
  opacity: 0.8;
  border-radius: 5px;
  float: left;
  padding-left: 20px;
  font-size: 11px;
  /* margin-top: 12px; */
  width: 89px;
  height: 72px;
  /* border: 1px solid #302683; */
  color: #000;
  margin-top: 26px;
}
.bot_cat{
	color: #FFF;
  float: right;
  
  margin-top: 73px;
  margin-right: 10px;
  padding-left: 9px;
  padding-top: 2px;
  width: 64px;
  height: 27px;
  background: #19B3E7;
  border-radius: 4px;
  border: 1px solid #302683;
  font-size: 15px;
}
.bot_cat a{
	color: #FFF;
}
.conseil{

	padding: 0px !important;
}
.conseil_dw{
	  margin-bottom: 20px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
   border-radius: 8px;
}
.nos_dw{
	margin-bottom: 20px;
  border: 2px solid #00679E;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 9px;
}
.conseil_both{

	  border-radius: 0px 0px 8px 8px;
	background: #00679E;
	color: #FFF;
	  padding-bottom: 10px;
	    margin-bottom: 20px;
}
.conseil_top{
	  font-size: 20px;
	border-radius: 8px 8px 0px 0px;
	  color: #FFF;
  padding-top: 7px;
  padding-bottom: 7px;
	text-align: center;
	background: #009EE3;
}
.conseil_text p{
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 15px;
font-size: 12px;
	text-align: center;
}
.conseil_down{
	  width: 92%;
  margin: 0 auto;
	  background-size: 100%;
  background-position: 0px -40px;
	  height: 110px;
	  background-image: url(../images/expert.jpg);
}
.bot_nos{
color: #FFF;
  float: right;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  width: 64px;
  height: 23px;
  background: #19B3E7;
  border-radius: 6px;
  border: 1px solid #302683;
  font-size: 15px;
}
.bot_nos a{
	color: #FFF;
}
.bot_nos_0{
color: #FFF;
  float: right;
    margin-top: 85px;
    margin-right: 4px;
  padding-left: 10px;
  padding-top: 0px;
  width: 64px;
  height: 23px;
  background: #19B3E7;
  border-radius: 6px;
  border: 1px solid #302683;
  font-size: 15px;
}
.bot_nos_0 a{
	color: #FFF;
}
.nos_text{
	height: 62px;
}
.nos_text p{
	color:#00679E;
  padding-top: 5px;
  padding-bottom: 0px;
  line-height: 15px;
font-size: 12px;
	text-align: center;
}
.real{
	padding: 0px !important;
}
.real_both {
  border-radius: 0px 0px 8px 8px;
  background: #FFF;
  color: #00679E;
    padding-bottom: 16px;
  margin-bottom: 20px;
}
.real_down {
  width: 92%;
  margin: 0 auto;
  background-size: 100%;
    background-position: 0px -29px;
  height: 110px;
  background-image: url(../images/telephonie.jpg);
}
.bot_nos_1{
color: #FFF;
  float: right;
margin-top: 97px;
    margin-right: 4px;
  padding-left: 10px;
  padding-top: 0px;
  width: 64px;
  height: 23px;
  background: #19B3E7;
  border-radius: 6px;
  border: 1px solid #302683;
  font-size: 15px;
}
.bot_nos_1 a{
	color: #FFF;
}
.real_2_down {
  width: 92%;
  margin: 0 auto;
  background-size: 100%;
    background-position: 0px -29px;
  height: 110px;
  background-image: url(../images/incendie.jpg);
}
.down_menu ul li{
	color: #329537;
	padding-right: 20px;
	display: inline-block;
	font-size: 12px;
	border-right: 1px solid;
  padding-right: 30px;
  padding-left: 30px;
}
.down_menu ul li:first-of-type{
  padding-left: 0px !important;
  }
  .down_menu li:last-of-type{
  padding-right: 0px !important;
  border-right: 0px solid !important;
}
.menu_insta li{
  display: inline-block;
  color: #329537;
  padding-right: 20px;
font-size: 16px;
  border-right: 1px solid;
  padding-right: 29px;
  padding-left: 30px;
}
.menu_insta li:first-of-type{
  padding-left: 0px !important;
  }
.menu_insta li:last-of-type{
  padding-right: 0px !important;
  border-right: 0px solid !important;
}
.menu_insta{
    margin-bottom: 25px;
}
.partners{
  margin-top: 20px;
    padding-top: 16px;
    height: 90px;
  border-radius: 6px;
    border: 2px solid #00679E;
}
.part_nm{
  width: 200px;
  top: -10px;
  left: 39%;
  z-index: 1000;
  position: absolute;
}
.flexslider .flex-control-nav {display:none}
